## 기상요인에 따른 서울시 공공자전거 수요 분석 및 예측(DL)

### 라이브러리 호출

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, GRU, Dense, Dropout

### 데이터셋 확인

In [45]:
# 데이터프레임 리스트 초기화
df_list = []

In [47]:
# 데이터 로드
df_weather = pd.read_csv('dataset/OBS_ASOS_TIM_2022.csv', encoding='cp949')
df_jan = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2201.csv', encoding='cp949')
df_feb = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2202.csv', encoding='cp949')
df_mar = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2203.csv', encoding='cp949')
df_apr = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2204.csv', encoding='cp949')
df_may = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2205.csv', encoding='cp949')
df_jun = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2206.csv', encoding='cp949')
df_jul = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2207.csv', encoding='cp949')
df_aug = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2208.csv', encoding='cp949')
df_sep = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2209.csv', encoding='cp949')
df_oct = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2210.csv', encoding='cp949')
df_nov = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2211.csv', encoding='cp949')
df_dec = pd.read_csv('dataset/서울특별시 공공자전거 이용정보(시간대별)_2212.csv', encoding='cp949')

In [48]:
# 데이터프레임을 리스트에 추가
df_list.append(df_jan)
df_list.append(df_feb)
df_list.append(df_mar)
df_list.append(df_apr)
df_list.append(df_may)
df_list.append(df_jun)
df_list.append(df_jul)
df_list.append(df_aug)
df_list.append(df_sep)
df_list.append(df_oct)
df_list.append(df_nov)
df_list.append(df_dec)

In [49]:
for df in df_list:
  print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339969 entries, 0 to 1339968
Data columns (total 12 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   대여일자     1339969 non-null  object
 1   대여시간     1339969 non-null  int64
 2   대여소번호    1339969 non-null  int64
 3   대여소명     1339969 non-null  object
 4   대여구분코드   1339969 non-null  object
 5   성별       842781 non-null   object
 6   연령대코드    1339969 non-null  object
 7   이용건수     1339969 non-null  int64
 8   운동량      1339969 non-null  object
 9   탄소량      1339969 non-null  object
 10  이동거리(M)  1339969 non-null  float64
 11  이용시간(분)  1339969 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 122.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271376 entries, 0 to 1271375
Data columns (total 12 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   대여일자     1271376 non-null  object
 1   대여시간     1271376 non-null  int64
 2   대여소번호    1271376 non-null  int64
 3   대여소명     1271376 non-null  object
 4   대여구분코드   1271376 non-null  object
 5   성별       802987 non-null   object
 6   연령대코드    1271376 non-null  object
 7   이용건수     1271376 non-null  int64
 8   운동량      1271376 non-null  object
 9   탄소량      1271376 non-null  object
 10  이동거리(M)  1271376 non-null  float64
 11  이용시간(분)  1271376 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 116.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218636 entries, 0 to 2218635
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 203.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504724 entries, 0 to 3504723
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 320.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4289223 entries, 0 to 4289222
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 392.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3704328 entries, 0 to 3704327
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 339.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3602076 entries, 0 to 3602075
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 329.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3187571 entries, 0 to 3187570
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 291.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100684 entries, 0 to 4100683
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 375.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3902908 entries, 0 to 3902907
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 357.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400023 entries, 0 to 3400022
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 311.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638969 entries, 0 to 1638968
Data columns (total 12 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   대여일자     1638969 non-null  object
 1   대여시간     1638969 non-null  int64
 2   대여소번호    1638969 non-null  int64
 3   대여소명     1638969 non-null  object
 4   대여구분코드   1638969 non-null  object
 5   성별       1112717 non-null  object
 6   연령대코드    1638969 non-null  object
 7   이용건수     1638969 non-null  int64
 8   운동량      1638969 non-null  object
 9   탄소량      1638969 non-null  object
 10  이동거리(M)  1638969 non-null  float64
 11  이용시간(분)  1638969 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 150.1+ MB
None

In [50]:
for df in df_list:
  print(df.head())

         대여일자  대여시간  대여소번호  ...   탄소량 이동거리(M) 이용시간(분)
0  2022-01-01     0   1725  ...  0.00     0.0      44
1  2022-01-01     0   1167  ...  0.51  2210.0      15
2  2022-01-01     0   1059  ...  0.25  1080.0       4
3  2022-01-01     0   3794  ...  0.50  2160.0      15
4  2022-01-01     0   4014  ...  0.22   961.3       7

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-02-01     0    108  ...  0.38  1640.00      19
1  2022-02-01     0   1150  ...  0.03   111.20       7
2  2022-02-01     0   1530  ...  0.15   635.97       4
3  2022-02-01     0   2505  ...  0.20   866.95       5
4  2022-02-01     0    437  ...  0.61  2631.02      20

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-03-01     0    846  ...  0.31  1315.63       9
1  2022-03-01     0   2000  ...  0.31  1330.00       7
2  2022-03-01     0   3671  ...  2.23  9617.17      98
3  2022-03-01     0    733  ...  0.23   970.85       6
4  2022-03-01     0   1152  ...  0.16   700.75       5

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-04-01     0   1665  ...  0.59  2560.00      12
1  2022-04-01     0   1359  ...  0.63  2720.00      14
2  2022-04-01     0   1368  ...  0.44  1891.58      38
3  2022-04-01     0    846  ...  0.29  1240.00       8
4  2022-04-01     0    765  ...  0.21   904.31       4

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호              대여소명  ...    운동량   탄소량  이동거리(M)  이용시간(분)
0  2022-05-01     0   1033   1033. 고덕동 아남아파트  ...  93.31  0.78  3366.31       18
1  2022-05-01     0   1262  1262. 송파여성문화회관 앞  ...   0.00  0.00     0.00        2
2  2022-05-01     0   1659   1659. 중계동 을지중학교  ...  15.85  0.20   870.00        5
3  2022-05-01     0   1674   1674. 서울북부고용센터앞  ...  63.19  0.57  2455.00       14
4  2022-05-01     0    954  954. 은평뉴타운구파발9단지  ...  52.39  0.44  1890.00       17

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호                대여소명  ...    운동량   탄소량  이동거리(M)  이용시간(분)
0  2022-06-01     0    742    742. 등촌역 5번 출구 뒤  ...  48.30  0.46  1999.70       10
1  2022-06-01     0   2059      2059. 보라매공원 정문  ...  27.47  0.23   991.00        9
2  2022-06-01     0   1349  1349. 월계2교 버스정류장 앞  ...  20.63  0.20   868.17        3
3  2022-06-01     0    750     750. 연의근린공원 건너편  ...  13.97  0.13   560.00        4
4  2022-06-01     0    755  755. 목동1단지아파트 상가 앞  ...  12.15  0.14   590.00        3

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호                대여소명  ...    운동량   탄소량  이동거리(M)  이용시간(분)
0  2022-07-01     0    745         745. 강서초등학교  ...  32.87  0.39  1660.00       15
1  2022-07-01     0   1362     1362. 보문역6번출구 앞  ...  53.54  0.39  1690.00       11
2  2022-07-01     0    755  755. 목동1단지아파트 상가 앞  ...  73.69  0.71  3028.98       19
3  2022-07-01     0    788    788.양천구청역 2번출구 옆  ...  50.59  0.43  1851.58        7
4  2022-07-01     0   2733    2733.마곡13단지 정문 앞  ...  35.34  0.28  1190.00        5

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호              대여소명  ...    운동량   탄소량  이동거리(M)  이용시간(분)
0  2022-08-01     0   1263     1263. 장지공영차고지  ...  20.66  0.24  1043.32        8
1  2022-08-01     0   1655    1655. 공릉1단지아파트  ...  13.90  0.13   540.00        2
2  2022-08-01     0   1072     1072.고덕역 5번출구  ...  37.12  0.21   910.00       15
3  2022-08-01     0   2717  2717.LG유플러스 마곡사옥  ...     \N    \N     0.00       10
4  2022-08-01     0    255        255. 도림사거리  ...  13.38  0.12   520.00        3

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-09-01     0   1665  ...  0.17   730.00       3
1  2022-09-01     0   1669  ...  0.40  1735.03      11
2  2022-09-01     0   1165  ...  0.00     0.00       1
3  2022-09-01     0    764  ...  0.22   941.14       6
4  2022-09-01     0   3533  ...  0.55  2371.67      20

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-10-01     0    735  ...  0.60  2572.07      34
1  2022-10-01     0    949  ...  1.07  4620.00      41
2  2022-10-01     0   1256  ...  0.13   570.00       4
3  2022-10-01     0   1971  ...  0.29  1230.00       8
4  2022-10-01     0   1167  ...  0.32  1378.94       7

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호             대여소명  ...    운동량   탄소량  이동거리(M)  이용시간(분)
0  2022-11-01     0   1150   1150. 송정역 1번출구  ...   8.07  0.09   384.71        3
1  2022-11-01     0   1162  1162. 공항초등학교건너편  ...  18.02  0.16   679.10        6
2  2022-11-01     0   1665    1665. 양지근린공원앞  ...  79.11  0.58  2497.19       14
3  2022-11-01     0   1669   1669. 중계역 3번출구  ...  15.32  0.17   730.00        7
4  2022-11-01     0   1355       1355. 보문2교  ...  15.06  0.11   475.46        2

[5 rows x 12 columns]
         대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
0  2022-12-01     0    746  ...  0.13   570.00       3
1  2022-12-01     0   1653  ...  0.36  1534.33      12
2  2022-12-01     0   1974  ...  0.17   720.00       4
3  2022-12-01     0   1355  ...  0.08   333.59       3
4  2022-12-01     0   1184  ...  0.07   318.20      37

[5 rows x 12 columns]

In [51]:
for df in df_list:
  print(df.tail())

               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
1339964  2022-01-31    23    436  ...  1.01  4350.00      28
1339965  2022-01-31    23    509  ...  0.93  4025.19      21
1339966  2022-01-31    23    274  ...  0.31  1350.00      12
1339967  2022-01-31    23   3623  ...  0.48  2080.00      25
1339968  2022-01-31    23   4527  ...  0.17   715.79       4

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
1271371  2022-02-28    23   1019  ...  0.29  1245.50       7
1271372  2022-02-28    23    226  ...  0.29  1254.67      14
1271373  2022-02-28    23   2145  ...  0.00     0.00       9
1271374  2022-02-28    23   1509  ...  0.00     0.00       4
1271375  2022-02-28    23    417  ...  0.18   770.00       6

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량   이동거리(M) 이용시간(분)
2218631  2022-03-31    23   1616  ...  0.00      0.00      17
2218632  2022-03-31    23   2024  ...  4.15  17900.30      92
2218633  2022-03-31    23   2050  ...  0.87   3770.00      23
2218634  2022-03-31    23   2135  ...  0.11    470.00       2
2218635  2022-03-31    23   1428  ...  0.14    616.56       6

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
3504719  2022-04-30    23   2223  ...  0.25  1090.00      33
3504720  2022-04-30    23   1407  ...  0.32  1380.00       9
3504721  2022-04-30    23   1946  ...  0.42  1804.13       8
3504722  2022-04-30    23   1230  ...  0.22   940.00       6
3504723  2022-04-30    23   1914  ...  1.13  4887.94      19

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량   이동거리(M) 이용시간(분)
4289218  2022-05-31    23   1627  ...  0.38   1618.18       9
4289219  2022-05-31    23   1221  ...  1.16   4986.13     101
4289220  2022-05-31    23    390  ...  0.20    860.00       6
4289221  2022-05-31    23   3500  ...  0.36   1560.00      53
4289222  2022-05-31    23    502  ...  3.54  15258.08      61

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량 이동거리(M) 이용시간(분)
3704323  2022-06-30    23   4765  ...  0.27  1170.0      65
3704324  2022-06-30    23   4813  ...  0.65  2820.0      18
3704325  2022-06-30    23   4564  ...  0.51  2210.0      15
3704326  2022-06-30    23    263  ...  0.23   980.0      16
3704327  2022-06-30    23   1308  ...  0.17   720.0       3

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
3602071  2022-07-31     7   2604  ...  0.11   480.00       3
3602072  2022-07-31     7   2821  ...  0.18   788.24       5
3602073  2022-07-31     7    773  ...  0.32  1376.11       7
3602074  2022-07-31     7   2088  ...  0.33  1419.56      15
3602075  2022-07-31     7   4563  ...  0.46  2000.00      13

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량   이동거리(M) 이용시간(분)
3187566  2022-08-31    23   1639  ...  0.20    856.01       7
3187567  2022-08-31    23   2255  ...  0.30   1280.47       6
3187568  2022-08-31    23   1231  ...  2.76  11879.96      51
3187569  2022-08-31    23    426  ...  0.24   1050.00       8
3187570  2022-08-31    23    722  ...  0.25   1065.39       6

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량   이동거리(M) 이용시간(분)
4100679  2022-09-30    23   1911  ...  0.53   2277.98      19
4100680  2022-09-30    23   2102  ...  0.17    740.80       3
4100681  2022-09-30    23   2337  ...  0.14    598.60       3
4100682  2022-09-30    23   1414  ...  0.71   3070.00      19
4100683  2022-09-30    23    502  ...  3.01  12964.80      67

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
3902903  2022-10-31    23   2302  ...  0.15   660.00       4
3902904  2022-10-31    23   1227  ...  0.11   492.39       3
3902905  2022-10-31    23   1248  ...  0.77  3320.00      21
3902906  2022-10-31    23   1221  ...  0.73  3162.57     153
3902907  2022-10-31    23   3502  ...  0.08   364.28       1

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
3400018  2022-11-30    23   3010  ...  0.22   946.92       4
3400019  2022-11-30    23   3127  ...  0.03   141.88       2
3400020  2022-11-30    23    232  ...  0.10   438.61       3
3400021  2022-11-30    23   4594  ...  0.73  3165.07      79
3400022  2022-11-30    23   5858  ...  0.18   775.94       3

[5 rows x 12 columns]
               대여일자  대여시간  대여소번호  ...   탄소량  이동거리(M) 이용시간(분)
1638964  2022-12-31    23    262  ...  0.21   920.00       5
1638965  2022-12-31    23    201  ...  0.10   430.88       3
1638966  2022-12-31    23   1008  ...  0.29  1240.00       7
1638967  2022-12-31    23   1637  ...  2.00  8630.00      87
1638968  2022-12-31    23   1227  ...  0.60  2580.00      15

[5 rows x 12 columns]

### 데이터 필터링

In [52]:
# 결과를 저장할 데이터프레임 초기화
result_list = []

# 필요한 컬럼 선택 (대여일자, 대여시간, 이용건수)
for df in df_list:
  df_grouped = df.groupby(['대여일자','대여시간'],as_index=False)['이용건수'].sum()
  result_list.append(df_grouped)

In [53]:
result_list

[           대여일자  대여시간  이용건수
 0    2022-01-01     0   575
 1    2022-01-01     1   466
 2    2022-01-01     2   328
 3    2022-01-01     3   250
 4    2022-01-01     4   246
 ..          ...   ...   ...
 739  2022-01-31    19  1703
 740  2022-01-31    20  1505
 741  2022-01-31    21  1031
 742  2022-01-31    22   362
 743  2022-01-31    23   243

 [744 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-02-01     0   273
 1    2022-02-01     1   214
 2    2022-02-01     2   154
 3    2022-02-01     3    64
 4    2022-02-01     4    33
 ..          ...   ...   ...
 667  2022-02-28    19  4911
 668  2022-02-28    20  4037
 669  2022-02-28    21  3712
 670  2022-02-28    22  3330
 671  2022-02-28    23  1809

 [672 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-03-01     0  1322
 1    2022-03-01     1   885
 2    2022-03-01     2   328
 3    2022-03-01     3   147
 4    2022-03-01     4    78
 ..          ...   ...   ...
 739  2022-03-31    19  7697
 740  2022-03-31    20  5987
 741  2022-03-31    21  5170
 742  2022-03-31    22  4713
 743  2022-03-31    23  3178

 [744 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-04-01     0  2169
 1    2022-04-01     1  1111
 2    2022-04-01     2   699
 3    2022-04-01     3   411
 4    2022-04-01     4   386
 ..          ...   ...   ...
 715  2022-04-30    19  6843
 716  2022-04-30    20  6443
 717  2022-04-30    21  5972
 718  2022-04-30    22  5269
 719  2022-04-30    23  4017

 [720 rows x 3 columns],
            대여일자  대여시간   이용건수
 0    2022-05-01     0   4053
 1    2022-05-01     1   2695
 2    2022-05-01     2   1901
 3    2022-05-01     3   1159
 4    2022-05-01     4    758
 ..          ...   ...    ...
 739  2022-05-31    19  13688
 740  2022-05-31    20  11573
 741  2022-05-31    21  11016
 742  2022-05-31    22   9743
 743  2022-05-31    23   6754

 [744 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-06-01     0  6212
 1    2022-06-01     1  4775
 2    2022-06-01     2  3117
 3    2022-06-01     3  2058
 4    2022-06-01     4  1959
 ..          ...   ...   ...
 715  2022-06-30    19   295
 716  2022-06-30    20   290
 717  2022-06-30    21   683
 718  2022-06-30    22  1527
 719  2022-06-30    23  1769

 [720 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-07-01     0  2034
 1    2022-07-01     1  1793
 2    2022-07-01     2  1288
 3    2022-07-01     3   721
 4    2022-07-01     4   579
 ..          ...   ...   ...
 738  2022-07-31    19   628
 739  2022-07-31    20   179
 740  2022-07-31    21   215
 741  2022-07-31    22   163
 742  2022-07-31    23   499

 [743 rows x 3 columns],
            대여일자  대여시간   이용건수
 0    2022-08-01     0    872
 1    2022-08-01     1    821
 2    2022-08-01     2    489
 3    2022-08-01     3    122
 4    2022-08-01     4     58
 ..          ...   ...    ...
 739  2022-08-31    19  14031
 740  2022-08-31    20  11860
 741  2022-08-31    21  10562
 742  2022-08-31    22   8665
 743  2022-08-31    23   5370

 [744 rows x 3 columns],
            대여일자  대여시간   이용건수
 0    2022-09-01     0   3932
 1    2022-09-01     1   2608
 2    2022-09-01     2   1450
 3    2022-09-01     3    918
 4    2022-09-01     4    782
 ..          ...   ...    ...
 715  2022-09-30    19  13403
 716  2022-09-30    20  11028
 717  2022-09-30    21  10378
 718  2022-09-30    22   9325
 719  2022-09-30    23   6555

 [720 rows x 3 columns],
            대여일자  대여시간   이용건수
 0    2022-10-01     0   5336
 1    2022-10-01     1   4189
 2    2022-10-01     2   2708
 3    2022-10-01     3   1652
 4    2022-10-01     4   1275
 ..          ...   ...    ...
 739  2022-10-31    19  11453
 740  2022-10-31    20   9473
 741  2022-10-31    21   8161
 742  2022-10-31    22   6792
 743  2022-10-31    23   3983

 [744 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-11-01     0  2807
 1    2022-11-01     1  1877
 2    2022-11-01     2  1174
 3    2022-11-01     3   743
 4    2022-11-01     4   591
 ..          ...   ...   ...
 715  2022-11-30    19  4489
 716  2022-11-30    20  3192
 717  2022-11-30    21  2709
 718  2022-11-30    22  2380
 719  2022-11-30    23  1588

 [720 rows x 3 columns],
            대여일자  대여시간  이용건수
 0    2022-12-01     0  1241
 1    2022-12-01     1  1001
 2    2022-12-01     2   595
 3    2022-12-01     3   399
 4    2022-12-01     4   342
 ..          ...   ...   ...
 739  2022-12-31    19  2026
 740  2022-12-31    20  1750
 741  2022-12-31    21  1747
 742  2022-12-31    22  1618
 743  2022-12-31    23  1382

 [744 rows x 3 columns]]